{% extends "minimal.html" %}
{% block menu %}
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-secondary" xmlns="http://www.w3.org/1999/html">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
      </ul>
      <div class="d-flex align-items-center ms-3">
        {% if user.is_authenticated %}
            <span class="text-light me-3">
                Olá, {{ user.username }}
            </span>
            <form method="post"
                  action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-light">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}" class="btn btn-outline-light">Login</a>
        {% endif %}
</div>
      <form class="d-flex" role="search" method="get">
        <input name="query" class="form-control me-2 " type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-dark" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
{% endblock menu %}